@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.main{
    font-family: "poppins", sans-serif;
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    width: 100%;
    margin-bottom: 50px;
    gap: 40px;
}
.title{
    color: #171a20;
    font-size: 40px;
    padding: 30px 0 10px 0;
    text-align: center;
}
.deadline{
    color: #393c41;
    font-size: 14px;
    text-align: center;
    padding-bottom: 20px;
}
.featureBox{
    color: #393c41;
    display: flex;
    padding: 0 10px;
    align-items: center;
    justify-content: space-between;
}
.featureBox>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0;
}
.feature{
    font-size: 24px;
    font-weight: 600;
}
.feature>span{
    font-size: 14px;
    padding-left: 3px;
}

.index{
    color: #5c5e62;
    font-size: 14px;
}
.textBox h4{
    font-weight: 600;
    font-size: 14px;
    color: #171a20;
    padding-bottom: 20px;
}
.typeBox{
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border:1px solid #5c5e62;
    border-radius: 4px;
    margin-bottom: 15px;
    cursor: pointer;
}
.type{
    font-size: 1rem;   
}
.textBox  button {
    background: #3E6AE1;
    width: 320px;
    height: 50px;
    color: #fff;
    outline: none;
    border-color: #3E6AE1;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.image{position: relative; }
.imageMobile{display: none;}
.right{
    z-index: 1;
    display: none;
    position: absolute;
    top: 30%;
    right: 10px;
    background: #393c418f;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.left{
    display: none;
    z-index: 1;
    top: 30%;
    left: 10px;
    position: absolute;
    background: #393c418f;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width: 414px) {
    .main{
        flex-direction: column;
        align-items: center;
    }
    .image{display: none;}
    .imageMobile{display:block;}
    .images{
        width: 100%;
        height: auto;
    }
    .left{display: block; top: 33%;}
    .right{display: block; top: 33%;}
    .textBox{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 20px;
    }
    .featureBox{width: 100%;}
}
