@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #171a20
}
.main{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0 50px 0;
}
.textBox{
    width: 380px;
    display: flex;
    flex-direction: column;
}
.textBox p:nth-child(3){
    color: #393c41;
    font-size: 14px;
    margin: 30px 0 150px 0;
}
.textBox button{
    background: #3E6AE1;
    width: 320px;
    height: 50px;
    color: #fff;
    outline: none;
    border-color: #3E6AE1;
    border-radius: 5px;
    margin: 20px 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.link{
    border: 1.5px solid #393c41;
    width: 320px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
}
.imageMobile{display: none;}
@media screen and (max-width: 414px) {
 .main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
 }
 .image{display: none;}
 .imageMobile{
    display: block;
    width: 98%;
    height: auto;
    margin: 20px 0;
 }
 .textBox{
    align-items: center;
 }
}